/// syntax highlight



/* Paragraphs */

p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}

/* Please see the article
   https://css-tricks.com/creating-an-editable-textarea-that-supports-syntax-highlighted-code/
 */

#bout {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#editing, #highlighting-content, #output {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    /* border: 0; */
    width: calc(100% - 32px);
    height: 150px;
}
#editing, #highlighting-content {
    /* Also add text styles to highlighing tokens */
    font-size: 10pt;
    font-family: monospace;
    line-height: 15pt;
    font-weight: bold;
}


#editing {
    /* In the same place */
    position: relative;
    top: 0;
    left: 0;
}

#highlighting-content {
    /* In the same place */
    position: relative; 
    top: -180px;
    left: 0;
}


/* Move the textarea in front of the result */

#editing {
    z-index: 1;
}
#highlighting-content {
    z-index: 0;
}


/* Make textarea almost completely transparent */

#editing {
    color: transparent;
    background: transparent;
    caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#editing, #highlighting-content {
    overflow: auto;
    /* white-space: nowrap;  Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
    resize: none;
}

/* Syntax Highlighting from prism.js starts below, partly modified: */




textarea {
    background-color:  rgba(0, 0, 0, 0.75);
    color: var(--md-code-fg-color);
    font-weight: bold;
    display: block;
    /* font-family: var(--md-code-font-family,_),SFMono-Regular,Consolas,Menlo,monospace;*/
    
}

textarea#output {
    background-color:  rgba(50, 0, 0, 0.75);
    overflow:auto;
}


.console-tab {
    width:100%
}


/* Pas de scroll bar pour les maths */

.md-typeset div.arithmatex  {
    overflow: initial;
}


/*

   STYLΕ TRANSPARENT
   
 */

:root > * {
    --md-code-bg-color:rgba(0, 0, 0, 0.5);
}

.md-typeset code {
    font-size: 0.75em;
}


/* use image for color theme */
body,
.md-header,
.md-footer,
.md-tabs {
    /*    background-image: url('HAL1.jpg');*/
    background-image: url("HAL1.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.md-container,
.md-search__inner {
    background-color: rgba(0, 0, 0, 0.9);
}

.md-search__input::placeholder {
    color: gray;
}
.md-icon svg{
    color:gray;
}

.md-footer-nav,
.md-footer-meta {
    background: transparent;
}



/* General style */
.md-typeset h1,
.md-tabs,
.md-header-nav__topic,

/* .md-sidebar {
   font-family: "Oswald", sans-serif;
   }*/

.md-header {
    font-size: 0.9rem;
    color:lightgrey;
}

.md-tabs a {
    font-size: 0.9rem;
    color:lightgrey;
}
.md-sidebar label {
    font-size: 0.85rem;
}
.md-sidebar a {
    font-size: 0.75rem;
    margin-top: 0.4em;
}
.md-typeset h1 {
    color: #ff5900; /*darkorange;*/
    /* font-weight: bold; */
    font-size: 2rem;
}

.md-typeset h2 {
    color: #888;
}

.md-typeset h3 {
    color: #ccc;
}


.md-typeset h4 {
    color: #eee;
    
}

/* change link colors for grey theme */
.md-header-nav__button:hover {
    opacity: 0.9;
    color: darkorange;
    transition: color 0.5s;
}
[data-md-color-primary="grey"] .md-typeset a {
    color: #00ade2;
}
[data-md-color-primary="grey"] .md-typeset a:hover {
    color: darkorange;
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-sidebar label,
.md-nav__item--nested > .md-nav__link,
.md-sidebar a {
    color: gray;
}
.md-nav__link:hover {
    color: darkorange;
}
.md-nav__link[data-md-state="blur"] {
    color: rgb(180, 180, 180);
}
.md-nav__item .md-nav__link--active {
    color: white;
}
.md-footer-nav__link {
    font-weight: bold;
}
.md-footer-nav__link:hover {
    opacity: 1;
    color: darkorange;
    transition: color 0.5s;
}
a.headerlink {
    color: gray;
}

/* display external links with icon */
div.md-content a[href^="http://"]:not([href*="giyom.gitlab.io"]):after,
div.md-content a[href^="https://"]:not([href*="giyom.gitlab.io"]):after,
div.md-content a[href^="//"]:not([href*="giyom.gitlab.io"])
{
    content: "↗";
    font-weight: normal;
    font-style: normal;
    font-size: 70%;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
}

/* attribute classes to be used via {: .class} */
.left {
    /* left align with text float on the right */
    float: left;
    padding-right: 20px;
}
.right {
    /* right align with text float on the left */
    float: right;
    padding-left: 20px;
}
.icon {
    /* change image size */
    width: 25%;
}
.border {
    /* add drop shadow */
    border: 1px solid #021a40;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.5);
}

/* special use tags ==...== */
mark,
.md-typeset mark {
    background-color: rgb(255, 253, 130);
    color: black;
    font-weight: bold;
}

/* blockdiag */
img[src*="%3Ctitle%3Eblockdiag%3C"] {
    background-color: lightgray;
}







/*

   style console python


 */

button#rouge {
    background:linear-gradient(to bottom, rgba(255,0,0,0.7)  5%, rgba(55,0,0,0.7)  100%);
    background-color:rgba(255,0,0,0.7);
    border-radius:28px;
    border:1px solid #ccc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 21px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

button#rouge:hover {
    background:linear-gradient(to bottom, rgba(55,0,0,0.8)  5%, rgba(255,0,0,0.8)  100%);
    background-color:rgba(55,0,0,0.8);
    color:#ccc;
}

button#rouge:active {
    position:relative;
    top:1px;
}

button#affiche {
    background:linear-gradient(to bottom, rgba(255,0,0,0.7)  5%, rgba(55,0,0,0.7)  100%);
    background-color:rgba(255,0,0,0.7);
    border-radius:28px;
    border:1px solid #fff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 21px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}

button#affiche:hover {
    background:linear-gradient(to bottom, rgba(55,0,0,0.8)  5%, rgba(255,0,0,0.8)  100%);
    background-color:rgba(55,0,0,0.8);
}

button#affiche:active {
    position:relative;
    top:1px;
}

/*

   EXOS

 */


:root {
    --md-admonition-icon--exo: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M74 208H64a16 16 0 0 0-16 16v16a16 16 0 0 0 16 16h15.94A535.78 535.78 0 0 1 64 384h128a535.78 535.78 0 0 1-15.94-128H192a16 16 0 0 0 16-16v-16a16 16 0 0 0-16-16h-10l33.89-90.38a16 16 0 0 0-15-21.62H144V64h24a8 8 0 0 0 8-8V40a8 8 0 0 0-8-8h-24V8a8 8 0 0 0-8-8h-16a8 8 0 0 0-8 8v24H88a8 8 0 0 0-8 8v16a8 8 0 0 0 8 8h24v32H55.09a16 16 0 0 0-15 21.62zm173.16 251.58L224 448v-16a16 16 0 0 0-16-16H48a16 16 0 0 0-16 16v16L8.85 459.58A16 16 0 0 0 0 473.89V496a16 16 0 0 0 16 16h224a16 16 0 0 0 16-16v-22.11a16 16 0 0 0-8.84-14.31zm92.77-157.78-3.29 82.2h126.72l-3.29-82.21 24.6-20.79A32 32 0 0 0 496 256.54V198a6 6 0 0 0-6-6h-26.38a6 6 0 0 0-6 6v26h-24.71v-26a6 6 0 0 0-6-6H373.1a6 6 0 0 0-6 6v26h-24.71v-26a6 6 0 0 0-6-6H310a6 6 0 0 0-6 6v58.6a32 32 0 0 0 11.36 24.4zM384 304a16 16 0 0 1 32 0v32h-32zm119.16 155.58L480 448v-16a16 16 0 0 0-16-16H336a16 16 0 0 0-16 16v16l-23.15 11.58a16 16 0 0 0-8.85 14.31V496a16 16 0 0 0 16 16h192a16 16 0 0 0 16-16v-22.11a16 16 0 0 0-8.84-14.31z"/></svg>')
}
.md-typeset .admonition.exo,
.md-typeset details.exo {
    border-color: rgb(255,120,0);
}
.md-typeset .exo > .admonition-title,
.md-typeset .exo > summary {
    background-color: rgba(254,120,0, 0.17);
    border-color: #fe7900; /*rgb(0,128,255);*/
}
.md-typeset .exo > .admonition-title::before,
.md-typeset .exo > summary::before {
    background-color: #fe7900;  /*rgb(0,128,255);*/
    -webkit-mask-image: var(--md-admonition-icon--exo);
    mask-image: var(--md-admonition-icon--exo);
}


/*

   THÉORÈMES

 */


:root {
    --md-admonition-icon--thm: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path d="M313.2 47.5c1.2-13 21.3-14 36.6-8.7.9.3 26.2 9.7 19 15.2-27.9-7.4-56.4 18.2-55.6-6.5zm-201 6.9c30.7-8.1 62 20 61.1-7.1-1.3-14.2-23.4-15.3-40.2-9.6-1 .3-28.7 10.5-20.9 16.7zM319.4 160c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16zm-159.7 0c-8.8 0-16 7.2-16 16s7.2 16 16 16 16-7.2 16-16-7.2-16-16-16zm318.5 163.2c-9.9 24-40.7 11-63.9-1.2-13.5 69.1-58.1 111.4-126.3 124.2.3.9-2-.1 24 1 33.6 1.4 63.8-3.1 97.4-8-19.8-13.8-11.4-37.1-9.8-38.1 1.4-.9 14.7 1.7 21.6 11.5 8.6-12.5 28.4-14.8 30.2-13.6 1.6 1.1 6.6 20.9-6.9 34.6 4.7-.9 8.2-1.6 9.8-2.1 2.6-.8 17.7 11.3 3.1 13.3-14.3 2.3-22.6 5.1-47.1 10.8-45.9 10.7-85.9 11.8-117.7 12.8l1 11.6c3.8 18.1-23.4 24.3-27.6 6.2.8 17.9-27.1 21.8-28.4-1l-.5 5.3c-.7 18.4-28.4 17.9-28.3-.6-7.5 13.5-28.1 6.8-26.4-8.5l1.2-12.4c-36.7.9-59.7 3.1-61.8 3.1-20.9 0-20.9-31.6 0-31.6 2.4 0 27.7 1.3 63.2 2.8-61.1-15.5-103.7-55-114.9-118.2-25 12.8-57.5 26.8-68.2.8-10.5-25.4 21.5-42.6 66.8-73.4.7-6.6 1.6-13.3 2.7-19.8-14.4-19.6-11.6-36.3-16.1-60.4-16.8 2.4-23.2-9.1-23.6-23.1.3-7.3 2.1-14.9 2.4-15.4 1.1-1.8 10.1-2 12.7-2.6 6-31.7 50.6-33.2 90.9-34.5 19.7-21.8 45.2-41.5 80.9-48.3C203.3 29 215.2 8.5 216.2 8c1.7-.8 21.2 4.3 26.3 23.2 5.2-8.8 18.3-11.4 19.6-10.7 1.1.6 6.4 15-4.9 25.9 40.3 3.5 72.2 24.7 96 50.7 36.1 1.5 71.8 5.9 77.1 34 2.7.6 11.6.8 12.7 2.6.3.5 2.1 8.1 2.4 15.4-.5 13.9-6.8 25.4-23.6 23.1-3.2 17.3-2.7 32.9-8.7 47.7 2.4 11.7 4 23.8 4.8 36.4 37 25.4 70.3 42.5 60.3 66.9zM207.4 159.9c.9-44-37.9-42.2-78.6-40.3-21.7 1-38.9 1.9-45.5 13.9-11.4 20.9 5.9 92.9 23.2 101.2 9.8 4.7 73.4 7.9 86.3-7.1 8.2-9.4 15-49.4 14.6-67.7zm52 58.3c-4.3-12.4-6-30.1-15.3-32.7-2-.5-9-.5-11 0-10 2.8-10.8 22.1-17 37.2 15.4 0 19.3 9.7 23.7 9.7 4.3 0 6.3-11.3 19.6-14.2zm135.7-84.7c-6.6-12.1-24.8-12.9-46.5-13.9-40.2-1.9-78.2-3.8-77.3 40.3-.5 18.3 5 58.3 13.2 67.8 13 14.9 76.6 11.8 86.3 7.1 15.8-7.6 36.5-78.9 24.3-101.3z"/></svg>')
}
.md-typeset .admonition.thm,
.md-typeset details.thm {
    border-color: rgb(192, 0, 0);
}
.md-typeset .thm > .admonition-title,
.md-typeset .thm > summary {
    background-color: rgba(192, 0, 0, 0.2);
    border-color: rgb(192, 0, 0);
}
.md-typeset .thm > .admonition-title::before,
.md-typeset .thm > summary::before {
    background-color: rgb(192, 0, 0);
    -webkit-mask-image: var(--md-admonition-icon--thm);
    mask-image: var(--md-admonition-icon--thm);
}

.md-typeset .admonition {
    font-size: 0.8rem;
    background-color: rgba(5,0,0,0.8)
}

.md-typeset details {
    font-size: 0.8rem;
}



/*

   DÉFINITIONS

 */ 



:root {
    --md-admonition-icon--def: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
}
.md-typeset .admonition.def,
.md-typeset details.def {
    border-color: rgb(255, 255, 0);
}
.md-typeset .def > .admonition-title,
.md-typeset .def > summary {
    background-color: rgba(255, 255, 0, 0.17);
    border-color: rgb(255, 255, 0);
}
.md-typeset .def > .admonition-title::before,
.md-typeset .def > summary::before {
    background-color: rgb(255, 255, 0);
    -webkit-mask-image: var(--md-admonition-icon--def);
    mask-image: var(--md-admonition-icon--def);
}



.row {
    display: flex;
}

.col {
    flex: 50%;
}




.md-typeset__table th {
    border-bottom: 2px solid darkorange;
    font-weight: bold;
    
}
.md-typeset__table tr:nth-child(even) {
    background: rgba(155, 10, 10,0.8);
}
.md-typeset__table tr:nth-child(odd) {
    background: rgba(100, 1, 6,0.8);
}
.md-typeset table:not([class]) tr:nth-child(even):hover {
    background-color: rgba(151, 1, 6, 0.35);
}

.md-typeset table:not([class]) tr:nth-child(even):hover {
    background-color: rgba(51, 1, 6, 0.35);
}



.md-typeset table:not([class]) th{
    background-color: black;
    color: white;
}

.md-typeset th {
    background-color: black;
}
